{% extends 'base.html' %}

{% block head_extra %}
<script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" type="text/javascript"></script>
<!-- jQuery -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
                        
<!-- required plugins -->
<script type="text/javascript" src="/static/scripts/date.js"></script>
<!--[if IE]><script type="text/javascript" src="scripts/jquery.bgiframe.min.js"></script><![endif]-->
                                                        
<!-- jquery.datePicker.js -->
<script type="text/javascript" src="/static/scripts/jquery.datePicker.js"></script>

<!-- datePicker required styles -->
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/datePicker.css">

<!-- page specific styles -->
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/demo.css">

<!-- page specific scripts -->
    <script type="text/javascript" charset="utf-8">
        $(function()
        {
            $('.date-pick').datePicker({startDate:'01/01/1996'});
        });
    </script>
                                            


<script>


function loadData() {
    $(document).ready(function() {
        jQuery.getJSON('/api/1/search/crowd', data);
        $(window).resize(onResize());
    });
    var events = jQuery.map(data, function(crowd,i) {
        return {
            'start': new Date(1000*crowd.start),
            'end': new Date(1000*crowd.end),
            'users': crowd.users,
            'title': crowd.cid,
            'description': 'a crowd of '+crowd.size+' people'
        };
    });
            
    alert(events[0]['users']);

    var root=document.getElementById('dyTable');
    var tab=document.createElement('table');
    tab.className="mytable";
    var tbo=document.createElement('tbody');
    var row, cell;
    row=document.createElement('tr');
    cell=document.createElement('th');
    cell.appendChild(document.createTextNode('Period'));
    row.appendChild(cell);
    cell=document.createElement('th');
    cell.appendChild(document.createTextNode('Tweets'));
    row.appendChild(cell);
    cell=document.createElement('th');
    cell.appendChild(document.createTextNode('Users'));
    row.appendChild(cell);
    tbo.appendChild(row);
    for(var i=0;i<events.length;i++) {
        row=document.createElement('tr');
        for(var j=0;j<10;j++) {
            cell=document.createElement('td');
            switch(j)
            {
                case 0: 
                    var date1 = events[i]['start'];
                    var date2 = events[i]['end'];
                    cell.appendChild(document.createTextNode(date1.getFullYear()+'/'+date1.getMonth()+'/'+date1.getDate()+' '+date1.getHours()+':'+date1.getMinutes()+' To '+date2.getFullYear()+'/'+date2.getMonth()+'/'+date2.getDate()+' '+date2.getHours()+':'+date2.getMinutes())); 
                    break;
                case 1: cell.appendChild(document.createTextNode(events[i]['title'])); break;
                case 2: cell.appendChild(document.createTextNode(events[i]['description'])); break;
            }
            row.appendChild(cell);
        }
        tbo.appendChild(row);
    }
    tab.appendChild(tbo);
    root.appendChild(tab);
}




Date.prototype.toFormattedString = function(include_time){
    str = this.getFullYear() + "-" + Date.padded2(this.getMonth() + 1) + "-" +Date.padded2(this.getDate()); 

    if (include_time) { hour=this.getHours(); str += " " + this.getAMPMHour() + ":" + this.getPaddedMinutes() + " " + this.getAMPM() }
        return str;
}

Date.parseFormattedString = function (string) {
    var regexp = "([0-9]{4})(-([0-9]{2})(-([0-9]{2})" +
        "( ([0-9]{1,2}):([0-9]{2})? *(pm|am)" +
        "?)?)?)?";
    var d = string.match(new RegExp(regexp, "i"));
    if (d==null) return Date.parse(string); // at least give javascript a crack at it.
    var offset = 0;
    var date = new Date(d[1], 0, 1);
    if (d[3]) { date.setMonth(d[3] - 1); }
    if (d[5]) { date.setDate(d[5]); }
    if (d[7]) {
        hours = parseInt(d[7], 10);
        offset=0;
        is_pm = (d[9].toLowerCase()=="pm")
        if (is_pm && hours <= 11) hours+=12;
        if (!is_pm && hours == 12) hours=0;
        date.setHours(hours); 
    }
    if (d[8]) { date.setMinutes(d[8]); }
    if (d[10]) { date.setSeconds(d[10]); }
    if (d[12]) { date.setMilliseconds(Number("0." + d[12]) * 1000); }
    if (d[14]) {
        offset = (Number(d[16]) * 60) + Number(d[17]);
        offset *= ((d[15] == '-') ? 1 : -1);
    }
    return date;
}


$(function()
{
        $('.date-pick').datePicker({startDate:'01/01/1996'});
});

</script>


{% endblock %}



{% block content %}
    <br><br><br>
    <div class="onecol" id="advanced">
    <h1 aligh=MIDDLE>Advanced Search</h1>

    <form action="/search" method="get"><input id="q" name="q" type="hidden" />

    <table id="advForm" cellspacing="0">
    <tr><td class="find" colspan="2"><b>Find crowds based on...</b></td><td class="srch srcht"><input type=BUTTON value="Search" OnClick="location.href='list'"/></td></tr>

                                                        
    <tr><th>Words</th><td class="l t">All of these words</td><td class="r t"><input class="long" id="ands" name="ands" type="text" /></td></tr>
    <tr><td colspan="3" class="sep"></td></tr>  
    <tr><th>Dates</th><td class="l t">Since this date</td><td class="r t"><input name="date1" id="date1" class="date-pick" /></td><tr>
    <tr><th></th><td class="l b">Until this date</td><td class="r b"><input name="date2" id="date2" class="date-pick" /></td><tr>
    <tr><td colspan="3" class="sep"></td></tr>
    <tr><th>Size</th><td class="l t">Min # of tweets in the crowd</td><td class="r t"><input class="int" name="num_tweets" id="num_tweets"/></td><tr>
    <tr><th></th><td class="l b">Min # of users in the crowd</td><td class="r b"><input class="int" name="num_users" id="num_users"/></td><tr>
    <tr><td colspan="3" class="sep"></td></tr>
    <tr><th>Presentation</th><td class="l b">Type of Visualization</td><td class="r t"><select id="viz_type" name="viz_type"><option value="List" >List</option><option value="Timeline" >Timeline</option></select><span class="note"></span></td></tr>
    <tr><td colspan="3" class="sep"></td></tr>
    <tr><th>Other</th><td class="l b">Results per page</td><td class="r t"><select id="rpp" name="rpp"><option value="10" >10</option><option value="15" >15</option><option value="20" >20</option><option value="25" >25</option><option value="30" >30</option><option value="50" selected="selected">50</option></select> <span class="note">(persistent)</span></td></tr>
    <tr><td colspan="3" class="sep"></td></tr>
    </table>
    </form>
    </div>
    </div>



{% endblock %}
