{% extends 'base.html' %}

{% block head_extra %}
<script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" type="text/javascript"></script>
<!-- jQuery -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
                        
<!-- required plugins -->
<script type="text/javascript" src="/static/scripts/date.js"></script>
<!--[if IE]><script type="text/javascript" src="scripts/jquery.bgiframe.min.js"></script><![endif]-->
                                                        
<!-- jquery.datePicker.js -->
<script type="text/javascript" src="/static/scripts/jquery.datePicker.js"></script>

<!-- datePicker required styles -->
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/datePicker.css">

<!-- page specific styles -->
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/demo.css">

<!-- page specific scripts -->
    <script type="text/javascript" charset="utf-8">
        $(function()
        {
            $('.date-pick').datePicker({startDate:'01/01/1996'});
        });
    </script>
                                            


<script>


function loadData() {
    $(document).ready(function() {
        jQuery.getJSON('/api/1/search/crowd', data);
        $(window).resize(onResize());
    });
    var events = jQuery.map(data, function(crowd,i) {
        return {
            'start': new Date(1000*crowd.start),
            'end': new Date(1000*crowd.end),
            'users': crowd.users,
            'title': crowd.cid,
            'description': 'a crowd of '+crowd.size+' people'
        };
    });
            
    alert(events[0]['users']);

    var root=document.getElementById('dyTable');
    var tab=document.createElement('table');
    tab.className="mytable";
    var tbo=document.createElement('tbody');
    var row, cell;
    row=document.createElement('tr');
    cell=document.createElement('th');
    cell.appendChild(document.createTextNode('Period'));
    row.appendChild(cell);
    cell=document.createElement('th');
    cell.appendChild(document.createTextNode('Tweets'));
    row.appendChild(cell);
    cell=document.createElement('th');
    cell.appendChild(document.createTextNode('Users'));
    row.appendChild(cell);
    tbo.appendChild(row);
    for(var i=0;i<events.length;i++) {
        row=document.createElement('tr');
        for(var j=0;j<10;j++) {
            cell=document.createElement('td');
            switch(j)
            {
                case 0: 
                    var date1 = events[i]['start'];
                    var date2 = events[i]['end'];
                    cell.appendChild(document.createTextNode(date1.getFullYear()+'/'+date1.getMonth()+'/'+date1.getDate()+' '+date1.getHours()+':'+date1.getMinutes()+' To '+date2.getFullYear()+'/'+date2.getMonth()+'/'+date2.getDate()+' '+date2.getHours()+':'+date2.getMinutes())); 
                    break;
                case 1: cell.appendChild(document.createTextNode(events[i]['title'])); break;
                case 2: cell.appendChild(document.createTextNode(events[i]['description'])); break;
            }
            row.appendChild(cell);
        }
        tbo.appendChild(row);
    }
    tab.appendChild(tbo);
    root.appendChild(tab);
}




Date.prototype.toFormattedString = function(include_time){
    str = this.getFullYear() + "-" + Date.padded2(this.getMonth() + 1) + "-" +Date.padded2(this.getDate()); 

    if (include_time) { hour=this.getHours(); str += " " + this.getAMPMHour() + ":" + this.getPaddedMinutes() + " " + this.getAMPM() }
        return str;
}

Date.parseFormattedString = function (string) {
    var regexp = "([0-9]{4})(-([0-9]{2})(-([0-9]{2})" +
        "( ([0-9]{1,2}):([0-9]{2})? *(pm|am)" +
        "?)?)?)?";
    var d = string.match(new RegExp(regexp, "i"));
    if (d==null) return Date.parse(string); // at least give javascript a crack at it.
    var offset = 0;
    var date = new Date(d[1], 0, 1);
    if (d[3]) { date.setMonth(d[3] - 1); }
    if (d[5]) { date.setDate(d[5]); }
    if (d[7]) {
        hours = parseInt(d[7], 10);
        offset=0;
        is_pm = (d[9].toLowerCase()=="pm")
        if (is_pm && hours <= 11) hours+=12;
        if (!is_pm && hours == 12) hours=0;
        date.setHours(hours); 
    }
    if (d[8]) { date.setMinutes(d[8]); }
    if (d[10]) { date.setSeconds(d[10]); }
    if (d[12]) { date.setMilliseconds(Number("0." + d[12]) * 1000); }
    if (d[14]) {
        offset = (Number(d[16]) * 60) + Number(d[17]);
        offset *= ((d[15] == '-') ? 1 : -1);
    }
    return date;
}


$(function()
{
        $('.date-pick').datePicker({startDate:'01/01/1996'});
});

</script>

<script type="text/javascript">
function showNumTweets(newValue)
{
        document.getElementById("range_num_tweets").innerHTML=newValue;
}

function showNumUsers(newValue)
{
        document.getElementById("range_num_users").innerHTML=newValue;
}

function loadSearchResults(data) {
	var events = jQuery.map(data, function(crowd,i) {
        return {
            'start': new Date(1000*crowd.start),
            'end': new Date(1000*crowd.end),
	        'users': crowd.users,
            'title': crowd._id,
            'description': 'a crowd of '+crowd.size+' people'
        };
    });
    var jq_tbo = $('#dyTableBody');



    // Here is the code to generate text "Search results for BLAHBLAH"
    
    var query_title=document.getElementById('query_title');
    query_title.innerHTML="";

    var searchBox = document.getElementById('searchBox');
    var query = "";
    query = searchBox.value;
    row = document.createElement('tr');
    cell = document.createElement('td');
    //cell.appendChild(document.createTextNode('Results for ' + query));
    cell.appendChild(document.createTextNode('(Demonstration Example) Results for '));
   
    // Emphasize the query text.
    query_text = document.createElement('strong');
    query_text.appendChild(document.createTextNode(query));

    cell.appendChild(query_text);
    row.appendChild(cell);
    query_title.appendChild(row);

	var tbo=document.getElementById('dyTableBody');

    row = document.createElement('tr');
    th = document.createElement('th');
    th.appendChild(document.createTextNode('Period'));
    row.appendChild(th);
    th = document.createElement('th');
    th.appendChild(document.createTextNode('Tweets'));
    row.appendChild(th);
    th = document.createElement('th');
    th.appendChild(document.createTextNode('Users'));
    row.appendChild(th);
    tbo.appendChild(row);
    
    // Clear the search interface
    var adv_search_el = document.getElementById('adv_search');
    adv_search_el.innerHTML = "";

	for(var i=0;i<events.length;i++){
		row=document.createElement('tr');
		for(var j=0;j<3;j++){
			cell=document.createElement('td');
			switch(j)
			{
				case 0: 
					var date1 = events[i]['start'];
					var date2 = events[i]['end'];
					cell.appendChild(document.createTextNode(date1.getFullYear()+'/'+date1.getMonth()+'/'+date1.getDate()+' '+date1.getHours()+':'+date1.getMinutes()+' To '+date2.getFullYear()+'/'+date2.getMonth()+'/'+date2.getDate()+' '+date2.getHours()+':'+date2.getMinutes())); 
					break;
				case 1: cell.appendChild(document.createTextNode(events[i]['title'])); break;
				case 2: cell.appendChild(document.createTextNode(events[i]['description'])); break;
			}
			row.appendChild(cell);
		}
        tbo.appendChild(row);
        //toggle the detailed view when the user clicks a row
        
        jq_tbo.children().last().click(
            {cid:events[i]['title']},
            function(e) {
                var detail = $(this).next();
                detail.slideToggle();
                var td = detail.children().first();
                if(!td.contents.length==0) {
                    td.load('/crowd/'+e.data.cid,function() {
                        loadCrowdPopup(e.data.cid, detail);
                    });
                }
            }
        );
        
        jq_tbo.append('<tr style="display:none"><td colspan="3"></td></tr>');
	}
}

/*
var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
            }, 500);
    }
}
*/


function search() {

    // Get the query term
    var query = "";
    var searchBox = document.getElementById('searchBox')
    query = searchBox.value;
    var search_results = document.getElementById('search_results');
    //search_results.innerHTML = "";

    // Get the min_start_date
    var date1 = document.getElementById('date1');
    min_start_date = String(date1.value);
    day = min_start_date.substring(0,2);
    month = min_start_date.substring(3,5);
    year = min_start_date.substring(6,10);
    min_start_date = new Date(year, month, day);
    //min_start_date= Date(min_start_date);
    epoch_seconds_min_start = (min_start_date.getTime() - min_start_date.getMilliseconds()) / 1000 - 2700000;
    var date2 = document.getElementById('date2');
    max_end_date = String(date2.value);
    day = max_end_date.substring(0,2);
    month = max_end_date.substring(3,5);
    year = max_end_date.substring(6,10);
    max_end_date = new Date(year, month, day);
    epoch_seconds_max_end = (max_end_date.getTime() - max_end_date.getMilliseconds()) / 1000 - 2700000;
     
    search_results.appendChild(document.createTextNode(String(epoch_seconds_min_start)));
    search_results.appendChild(document.createTextNode(String(epoch_seconds_max_end)));

    //search_results.appendChild(document.createTextNode(min_start_date + '\n'));
    //search_results.appendChild(document.createTextNode(month + '\n' + day + '\n' + year));

    if (query == "") 
        search_results.appendChild(document.createTextNode('Please input a valid query!'));
    else {
        search_results.appendChild(document.createTextNode('The query is: ' + query));
    }
   
    var api = '/api/1/search/crowd?';
    var flag = 0;
    if (query != '') {
        api += 'q=' + query;
        flag = 1;
    }
    /*
    if (epoch_seconds_min_start < 0) {
        if (flag == 1) api += '&';
        api += 'min_start=' + String(epoch_seconds_min_start);
        flag = 1;
    }
    if (epoch_seconds_max_end < 0) {
        if (flag == 1) api += '&';
        api += 'max_end=' + String(epoch_seconds_max_end);
        flag = 1;
    }
    */


    search_results.appendChild(document.createTextNode(api));
    jQuery.getJSON(api, loadSearchResults);
    $(window).resize(onResize());
    
    
}


</script>


{% endblock %}



{% block content %}
    <div id="search_results">
        <div id="mytable">
        <table class="mytable">
            <div id="query_title">
            </div>
            <div id="query_content">
            </div>
            <tbody id="dyTableBody">
            </tbody>
        </table>
        </div>
    </div>


    <div id="adv_search">
    <br><br><br>
    <div id="title"> 
    <h1 align=center>Advanced Search</h1>
    </div>

    <table id="advForm" cellspacing="0" align=center>
    <tr><td class="find" colspan="2"><b>Find crowds based on...</b></td><td class="srch srcht"><input type=BUTTON value="Search" OnClick="search()"/></td></tr>

                                                        
    <tr><th>Words</th><td class="l t">All of these words</td><td class="r t"><input id="searchBox" name="query" type="search" value=""/></td></tr>
    <tr><td colspan="3" class="sep"></td></tr>  
    <tr><th>Dates</th><td class="l t">Since this date</td><td class="r t"><input id="date1" name="date1" class="date-pick" /></td><tr>
    <tr><th></th><td class="l b">Until this date</td><td class="r b"><input id="date2" name="date2" class="date-pick" /></td><tr>
    <tr><td colspan="3" class="sep"></td></tr>
    <!--
    <tr><th>Size</th><td class="l t">Min # of tweets in the crowd</td><td class="r t"><input class="int" name="num_tweets" id="num_tweets"/></td><tr>
    <tr><th></th><td class="l b">Min # of users in the crowd</td><td class="r b"><input class="int" name="num_users" id="num_users"/></td><tr>
    -->
    <tr><th>Size</th><td class="l t">Min # of tweets in the crowd</td><td class="r t"><input type="range" min="1" max="100" value="5" name="num_tweets" id="num_tweets" onchange="showNumTweets(this.value)"/><span id="range_num_tweets"> 5</span></td><tr>
    <tr><th></th><td class="l b">Min # of users in the crowd</td><td class="r b"><input type="range" min="1" max="100" value="5" name="num_users" id="num_users" onchange="showNumUsers(this.value)"/><span id = "range_num_users"> 5</span></td><tr>
    <tr><td colspan="3" class="sep"></td></tr>
    <tr><th>Presentation</th><td class="l b">Type of Visualization</td><td class="r t"><select id="viz_type" name="viz_type"><option value="List" >List</option><option value="Timeline" >Timeline</option></select><span class="note"></span></td></tr>
    <tr><td colspan="3" class="sep"></td></tr>
    <tr><th>Other</th><td class="l b">Results per page</td><td class="r t"><select id="rpp" name="rpp"><option value="10" >10</option><option value="15" >15</option><option value="20" >20</option><option value="25" >25</option><option value="30" >30</option><option value="50" selected="selected">50</option></select> <span class="note">(persistent)</span></td></tr>
    <tr><td colspan="3" class="sep"></td></tr>
    </table>
    </form>

    </div>


{% endblock %}
