<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>{% block title %}Crowdy{% endblock %}</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/infolab.css"/>
<script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts/jquery.tools.min.js"></script>

{% block head_extra %}{% endblock %}
</head>
<body>
<div id="container">
	<div id="headerContainer">
    <div id="headerMain"><h1><a href="/">CrowdTracker</a></h1></div>
      Community-Based Real-Time Web Monitoring
    <div id="headerRight"></div>
	</div>
<!-- start nav -->
	<span class="preload1"></span>
	<span class="preload2"></span>
 	<ul id="nav">
    <li id="timeline_tab" class="top"><a href="/" class="top_link"><span>Timeline</span></a></li>
    <li id="list_tab" class="top"><a href="/list" class="top_link"><span>List</span></a></li>
    <li id="snapshot_tab" class="top"><a href="/snapshot" class="top_link"><span>Animation</span></a></li>
    <li id="crowds_tab" class="top"><a href="/crowds" class="top_link"><span>Crowds</span></a></li>
  </ul>
<!-- end nav -->
<!--- start content -->
	<div id="contentWrapper">
		<div id="content">
{% block content_title %}{% endblock %}
{% block content %}{% endblock %}
		</div>
		<div class="push">
			{% block side_content %}{% endblock %}
		</div>
	</div>
  <div id="crowdBox"></div>
	<div id="footer">
		<div id="footerInner">
      Designed by<br>
      <a href="http://infolab.tamu.edu">Texas A&amp;M Infolab</a> -
      <a href="http://twitter.com/infolabtamu">@infolabtamu</a>
		</div>

  </div>
</div>
</body>
</html>
