<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>{% block title %}Crowdy{% endblock %}</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="/static/css/default.css" media="screen,projection" type="text/css" />
<link rel="stylesheet" href="/static/css/lightbox.css" media="screen,projection" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/css/infolab.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="scripts/lightbox.js"></script>
{% block head_extra %}{% endblock %}
</head>
<body>
<div id="container">
	<div id="headerContainer">
    		<!--<div id="headerMain"><h1><a href="/">Crowdy</h1></div>-->
		<!--<div id="headerRight"></div>-->
		<p align='right'><a href="login.html" class="lbOn">Log In</a> 
		<a href="register.html" class="lbOn">Register</a></p>
	</div>
 
<!-- start nav -->
	<span class="preload1"></span>
	<span class="preload2"></span>
 	<ul id="nav">
    <li id="timeline_tab" class="top"><a href="/" class="top_link"><span>Timeline</span></a></li>
    <li id="list_tab" class="top"><a href="/list" class="top_link"><span>List</span></a></li>
    <li id="map_tab" class="top"><a href="/" class="top_link"><span>Map</span></a></li>
    <li id="search_tab" class="top"><a href="/search" class="top_link"><span>Search</span></a></li>
  </ul>
<!-- end nav -->
<!--- start content -->
	<div id="contentWrapper">
		<div id="content">
{% block content_title %}{% endblock %}
{% block content %}{% endblock %}
		</div>
		<div class="push">
			{% block side_content %}{% endblock %}
		</div>
	</div>
</div>
	<div id="footer">
		<div id="footerInner">
infolab,
        301 Harvey R. Bright Bldg, 3112 TAMU, College Station, TX 77843-3112&nbsp;
         | &copy; 2011 TAMU, All Rights Reserved.
        <br>
        <a href="http://www.cse.tamu.edu">Department of Computer Science and Engineering</a> 
        | <a href="http://aggieengineer.tamu.edu/">Dwight Look College of Engineering</a> 
        | <a href="http://www.tamu.edu">Texas A&amp;M University</a></small> <br/>
        Privacy statement: <a href="http://www.cse.tamu.edu/department/policies/privacy">Computer Science and Engineering</a> <a href="http://engineer.tamu.edu/policies/#privacy">Engineering</a> <a href="http://www.tamu.edu/home/statements/privacy.html">TAMU</A> 
		</div>

        </div>
</body>
</html>
