<div id="crowdNetwork">
  <canvas></canvas>
</div>
<div id="crowdStats">
  <ul>
    <li>Start: <span id="startTime"></span></li>
    <li>End: <span id="endTime"></span></li>
    <li>Users: {{crowd['size'] }} {{user_spark}}</li>
    <li>Tweets: {{tweet_count}} {{tweet_spark}}</li>
    <li>Central users: {{ crowd['title'] }}</li>
    <li>Keywords: {{ ", ".join(crowd.kw[:2]) }}</li>
    <li>Clustering Coeff: {{ "%.3f"%crowd['clco'] }}</li>
  </div>
</div>
<br class="clear">
<div class="scrollable vertical">
  <div id="crowdTweets" class="items">
  </div>
</div>
<div id="actions">
  <a class="prev">&laquo; Back</a>
  <a class="next" style="float:right">Forward &raquo;</a>
</div>
