{% extends 'base.html' %}

{% block head_extra %}
<style>
#crowds {
  position: relative;
  background-color: #eee;
  width: 800px;
  height: 500px;
}

.crowdSum {
  display: block;
  position: absolute;
  float: left;
  margin: 1px;
  text-align: center;
  background-color: #ccc;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
</style>
<script>
var time = 1304294400;

$(document).ready(function() {
  //start the force directed layout
  window.setInterval(getCrowds,4000);
  window.setInterval(animateCrowds,1000);
  getCrowds()
});

function getCrowds() {
  time+=3600;
  jQuery.getJSON('/api/1/crowd/snapshot/'+time, loadCrowdSnapshot);
  d = new Date(time*1000);
  $('#timer').text(d.toString());
}

function loadCrowdSnapshot(data) {
  //create set of new crowds
  var cids = {}
  $.each(data.cs, function(index, crowd) {
    cids[crowd.cid] = 1
  })
  //remove non-existant crowds
  $("#crowds .crowdSum").filter(function() {
    return !($(this).attr('id') in cids)
  }).remove()
  //fix the crowds
  $.each(data.cs, function(index, crowd) {
    var div = $(document.getElementById(crowd.cid))
    if(div.length) {
      div.stop(true)
    } else {
      div = $('#crowdTempl').clone()
      div.attr('id', crowd.cid)
      div.data({
        x : 8*(100-crowd.co_pc),
        y : 5*(100-crowd.u_pc),
      })
    }
    div.html(crowd.u)
    var radius = 1.5*Math.sqrt(crowd.u)
    div.width(radius*2)
    div.height(radius*2)
    div.css('font-size', (1.7*Math.sqrt(crowd.u)) +'px')
    div.data('r', radius)
    div.data('gx', 8*(100-crowd.co_pc))
    div.data('gy', 5*(100-crowd.u_pc))
    div.css(coordForLoc(div))
    $("#crowds").append(div)
  });
}

function animateCrowds() {
  console.log("run")
  var crowds = $('#crowds .crowdSum')
  $(crowds).each(function (i) {
    var me = $(this)
    var dx = 0
    var dy = 0
    var mloc = me.data()
    crowds.each(function (j) {
      var yloc = $(this).data()
      var dist = Math.sqrt((mloc.x-yloc.x)*(mloc.x-yloc.x) + (mloc.y-yloc.y)*(mloc.y-yloc.y))
      if(dist<(mloc.r+yloc.r)*4 && dist!=0) {
        var force = Math.min(100, Math.pow(yloc.r/dist,2)*20)
        dx += force*((mloc.x-yloc.x)/dist)
        dy += force*((mloc.y-yloc.y)/dist)
      }
    })
    var x = .9*(mloc.x+dx) + .1*mloc.gx
    var y = .9*(mloc.y+dy) + .1*mloc.gy
    me.data('x', Math.min(Math.max(mloc.r,x), 800-mloc.r))
    me.data('y', Math.min(Math.max(mloc.r,y), 500-mloc.r))
    me.animate(coordForLoc(me), 1100, 'linear')
  })
}

function coordForLoc(div) {
  var data = div.data()
  return {top:data.y-data.r, left:data.x-data.r}
}

</script>

{% endblock %}
{% block content %}

<div class="pane" id="crowds">
</div>
<div id="crowdTempl" class="crowdSum">
</div>

<p id="timer"></p>

{% endblock %}
