{% extends 'search_base.html' %}

{% block search_head_extra %}
<script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="/static/css/boxy.css"/>
<script src="/static/scripts/jquery.boxy.js" type="text/javascript"></script> 


<script>


var tl;

var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            if(tl) 
                tl.layout();
        }, 500);
    }
}

Timeline.OriginalEventPainter.prototype._showBubble = function(x, y, evt) {
  box = new Boxy("<p>Loading...</p>",{title:evt._description});
  jQuery.getJSON('/crowd/'+evt.getLink(), function(res) {
    box.setContent(res.html)
    loadCrowdPopup(evt._text,box.boxy,res);
  });
}


$(document).ready(function() {
    jQuery.getJSON('/api/1/search/crowd?limit=1000', loadData);
    $(window).resize(onResize());
});

function loadData(data) {
    var events = jQuery.map(data, function(crowd,i) {
        return {
            'start': new Date(1000*crowd.start),
            'end': new Date(1000*crowd.end),
            'title': crowd.title,
            'link': '/crowd/'+crowd._id,
            'description': 'a crowd of '+crowd.size+' people'
        };
    });


    // Need to retrieve the earliest date and the latest date
   
    var min_date_secs = 4099999999;
    var max_date_secs = 0;
    var min_date;
    var max_date;
    for (var i = 0; i < events.length; i++) {
        var date1 = events[i]['start']; 
        var secs = (date1.getTime() - date1.getMilliseconds()) / 1000 - 18000;

        if (secs < min_date_secs) {
            min_date_secs = secs;
            min_date = date1;
        }

        var date1 = events[i]['end']; 
        var secs = (date1.getTime() - date1.getMilliseconds()) / 1000 - 18000;

        if (secs > max_date_secs) {
            max_date_secs = secs;
            max_date = date1;
        }
    }
    var start_date = min_date;
    var end_date = max_date;

    var query_title = document.getElementById("query_title");
    var eventSource1 = new Timeline.DefaultEventSource();


    query_title.innerHTML = "";

    var searchBox = document.getElementById('searchBox');
    var query = searchBox.value;
    if(query) {
        query_title.appendChild(document.createTextNode('Results for '));
       
        // Emphasize the query text.
        query_text = document.createElement('strong');
        query_text.appendChild(document.createTextNode(query));
        query_title.appendChild(query_text);
    }

	var tl_el = document.getElementById("tl");


    var theme1 = Timeline.ClassicTheme.create();
    theme1.autoWidth = true; // Set the Timeline's "width" automatically.
                             // Set autoWidth on the Timeline's first band's theme,
                             // will affect all bands.

    theme1.timeline_start = new Date(start_date);
    theme1.timeline_stop  = new Date(end_date);

    var bandInfos = [
        Timeline.createBandInfo({
            width:          45, // set to a minimum, autoWidth will then adjust
            intervalUnit:   Timeline.DateTime.DAY,
            intervalPixels: 100,
            eventSource:    eventSource1,
            date:           theme1.timeline_start,
            theme:          theme1,
            layout:         'original'  // original, overview, detailed
        })
    ];

    // create the Timeline
    tl = Timeline.create(tl_el, bandInfos, Timeline.HORIZONTAL);

    var url = '.'; // The base url for image, icon and background image
                   // references in the data
    eventSource1.loadJSON({'events' : events} , url);
                   // The data was stored into the
                                               // timeline_data variable.
    tl.layout(); // display the Timeline
}


function search() {
    //document.body.innerHTML = "";
    var query_title = document.getElementById("query_title");
    query_title.innerHTML = "";

    var api = make_search_url();
    
    jQuery.getJSON(api, loadData);
    $(window).resize(onResize());
}



$(function()
{
    $('.date-pick').datePicker({startDate:'01/01/1996'});
});


</script>
{% endblock %}

{% block search_results_block %}

    <div id="timeline">
    <br><br>
	<div id = 'query_title'>
	</div>
    <fieldset>
    <legend> global view</legend>
	    <div class="timelineC">
		<div id = 'tl'></div>
	    </div>
    </fieldset>
    </div>
{% endblock %}

