{% extends 'base.html' %}

{% block head_extra %}
<script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" type="text/javascript"></script>

<script>

var tl;
function loadTimeline(data) {
    var events = jQuery.map(data, function(crowd,i) {
        return {
            'start': new Date(1000*crowd.start),
            'end': new Date(1000*crowd.end),
            'title': crowd._id,
            'link': '/crowd/'+crowd._id,
            'description': 'a crowd of '+crowd.size+' people'
        };
    });

    var tl_el = document.getElementById("tl");
    var eventSource1 = new Timeline.DefaultEventSource();

    var theme1 = Timeline.ClassicTheme.create();
    theme1.autoWidth = true; // Set the Timeline's "width" automatically.
                             // Set autoWidth on the Timeline's first band's theme,
                             // will affect all bands.
    theme1.timeline_start = new Date(Date.UTC(2010, 8, 1));
    theme1.timeline_stop  = new Date(Date.UTC(2011, 10, 1));

    var bandInfos = [
        Timeline.createBandInfo({
            width:          45, // set to a minimum, autoWidth will then adjust
            intervalUnit:   Timeline.DateTime.DAY,
            intervalPixels: 200,
            eventSource:    eventSource1,
            date:           theme1.timeline_start,
            theme:          theme1,
            layout:         'original'  // original, overview, detailed
        })
    ];

    // create the Timeline
    tl = Timeline.create(tl_el, bandInfos, Timeline.HORIZONTAL);

    var url = '.'; // The base url for image, icon and background image
                   // references in the data
    eventSource1.loadJSON({'events' : events} , url);
                   // The data was stored into the
                                               // timeline_data variable.
    tl.layout(); // display the Timeline
}

var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
        }, 500);
    }
}

$(document).ready(function() {
    jQuery.getJSON('/api/1/search/crowd?limit=1000', loadTimeline);
    $(window).resize(onResize());
});

</script>
{% endblock %}

{% block content %}
    <!--
    <div class = "option">
	<form id="form">
	        <label>Search</label>:
                <input id="" type="text" />
                <button>Submit</button>
		</br></br></br>
	</form>

    </div>
    -->
    <br><br>
    <fieldset>
    <legend> global view</legend>
	    <div class="timelineC">
		<div id = 'tl'></div>
	    </div>
    </fieldset>
    </br></br></br></br>
{% endblock %}

