{% extends 'base.html' %}

{% block head_extra %}
<script src="/static/scripts/arbor.js"></script>  
<script src="/static/scripts/crowd_network.js"></script>  
<script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="/static/css/boxy.css"/>
<script src="/static/scripts/jquery.boxy.js" type="text/javascript"></script> 

<script>

var tl;
function loadTimeline(data) {
    var events = jQuery.map(data, function(crowd,i) {
        return {
            'start': new Date(1000*crowd.start),
            'end': new Date(1000*crowd.end),
            'title': crowd._id,
            'link': '/crowd/'+crowd._id,
            'description': 'a crowd of '+crowd.size+' people'
        };
    });

    var tl_el = document.getElementById("tl");
    var eventSource1 = new Timeline.DefaultEventSource();

    var theme1 = Timeline.ClassicTheme.create();
    theme1.autoWidth = true; // Set the Timeline's "width" automatically.
                             // Set autoWidth on the Timeline's first band's theme,
                             // will affect all bands.
    theme1.timeline_start = new Date(Date.UTC(2010, 8, 1));
    theme1.timeline_stop  = new Date(Date.UTC(2011, 10, 1));

    var bandInfos = [
        Timeline.createBandInfo({
            width:          45, // set to a minimum, autoWidth will then adjust
            intervalUnit:   Timeline.DateTime.DAY,
            intervalPixels: 200,
            eventSource:    eventSource1,
            date:           theme1.timeline_start,
            theme:          theme1,
            layout:         'original'  // original, overview, detailed
        })
    ];

    // create the Timeline
    tl = Timeline.create(tl_el, bandInfos, Timeline.HORIZONTAL);

    var url = '.'; // The base url for image, icon and background image
                   // references in the data
    eventSource1.loadJSON({'events' : events} , url);
                   // The data was stored into the
                                               // timeline_data variable.
    tl.layout(); // display the Timeline
}

var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
        }, 500);
    }
}

Timeline.OriginalEventPainter.prototype._showBubble = function(x, y, evt) {
    Boxy.load(evt._link, {
        cache:true,
        title:evt._description,
        afterShow: function() {
            loadCrowdPopup(evt._text,this.boxy);
        }
    });
}


$(document).ready(function() {
    jQuery.getJSON('/api/1/search/crowd?limit=1000', loadTimeline);
    $(window).resize(onResize());
});

function loadSearchResults(data) {
    var events = jQuery.map(data, function(crowd,i) {
        return {
            'start': new Date(1000*crowd.start),
            'end': new Date(1000*crowd.end),
            'title': crowd._id,
            'link': '/crowd/'+crowd._id,
            'description': 'a crowd of '+crowd.size+' people'
        };
    });


    // Need to retrieve the earliest date and the latest date
    if (events.length > 0) {
        var start_date = events[0]['start'];
        var end_date = events[events.length-1]['end'];

    }

    var query_title = document.getElementById("query_title");
    var eventSource1 = new Timeline.DefaultEventSource();


    query_title.innerHTML = "";

    var searchBox = document.getElementById('searchBox');
    var query = "";
    query = searchBox.value;
    query_title.appendChild(document.createTextNode('(Demonstration Example) Results for '));
   
    // Emphasize the query text.
    query_text = document.createElement('strong');
    query_text.appendChild(document.createTextNode(query));
    query_title.appendChild(query_text);

    query_title.appendChild(document.createTextNode(start_date));
    query_title.appendChild(document.createTextNode(end_date));



	var tl_el = document.getElementById("tl");


    var theme1 = Timeline.ClassicTheme.create();
    theme1.autoWidth = true; // Set the Timeline's "width" automatically.
                             // Set autoWidth on the Timeline's first band's theme,
                             // will affect all bands.
    theme1.timeline_start = new Date(Date.UTC(2010, 7, 1));
    theme1.timeline_stop  = new Date(Date.UTC(2011, 10, 1));

    var bandInfos = [
        Timeline.createBandInfo({
            width:          45, // set to a minimum, autoWidth will then adjust
            intervalUnit:   Timeline.DateTime.DAY,
            intervalPixels: 200,
            eventSource:    eventSource1,
            date:           theme1.timeline_start,
            theme:          theme1,
            layout:         'original'  // original, overview, detailed
        })
    ];

    // create the Timeline
    tl = Timeline.create(tl_el, bandInfos, Timeline.HORIZONTAL);

    var url = '.'; // The base url for image, icon and background image
                   // references in the data
    eventSource1.loadJSON({'events' : events} , url);
                   // The data was stored into the
                                               // timeline_data variable.
    tl.layout(); // display the Timeline
}


function search() {
    //document.body.innerHTML = "";
    var query_title = document.getElementById("query_title");
    query_title.innerHTML = "";
    var searchBox = document.getElementById('searchBox');
    var query = "";
    query = searchBox.value;
    if (query == "") {
		query_title.appendChild(document.createTextNode('Please enter a valid query!'));
	}
    else {
        var api = '/api/1/search/crowd?q=' + query + '&limit=50';
        jQuery.getJSON(api, loadSearchResults);
        $(window).resize(onResize());
    }
    
    //document.appendChild(document.createTextNode("rPlease enter a valid query!"));
    //document.createTextNode("rPlease enter a valid query!");
}

</script>
{% endblock %}

{% block content %}
    <!--
    <div class = "option">
	<form id="form">
	        <label>Search</label>:
                <input id="" type="text" />
                <button>Submit</button>
		</br></br></br>
	</form>

    </div>
    -->
    <!--
    <br><br><br>
    <div id="search">
    <form action="/search" id="searchForm" method="get">
        <div id="searchEntry">
        <input autosave="com.twitter.search" id="searchBox" name="q" placeholder="Enter your query" results="10" type="search" value=""/>
        <div id="searchOptionsCtrl">
        <a href="/advanced_search" class="litnv">Advanced Search</a>
        </div>
        </div>
        <div id="searchButton">
        <input type=BUTTON value="Search" OnClick="location.href='list'"/>
        <input type=BUTTON value="Search" OnClick="search()"/>
        </div>
        <p class="clearer"></p>
    </form>
    </div>
    </br></br></br></br>
    -->
    
    <br>
    <div id="header">
    <div id="headerContent">
    <!--
    <div id="logo"><a href="Crowdy Search"><img alt="crowdy-logo-small" src="crowdy-logo-pic" /></a></div>
    -->
    <div id="search_header">
    <!--
    <form action="/search" id="searchForm" method="get">
    -->
    <div id="searchEntry">
    <input id="searchBox" name="q" placeholder="Enter your query" type="search" value=""/>
    </div>
    <div id="searchButton">
    <!--
    <input type="submit" value="Search" />
    -->
    <input type=BUTTON value="Search" OnClick="search()"/>
    </div>
    <div id="searchOptionsCtrl">    
    <a href="/advanced_search" class="litnv">Advanced Search</a>
    </div>
    <p class="clearer"></p>
    <!--
    </form>
    -->
    </div>   </div>
    </div>
    <br>


    <div id="timeline">
    <br><br>
	<div id = 'query_title'>
	</div>
    <fieldset>
    <legend> global view</legend>
	    <div class="timelineC">
		<div id = 'tl'></div>
	    </div>
    </fieldset>
    </br></br></br></br>
    <p id="tlinfo">none</p>
    </div>
{% endblock %}

