{% extends 'base.html' %}

{% block head_extra %}

<script src="/static/scripts/arbor.js"></script>  
<script src="/static/scripts/crowd_network.js"></script>  

<!-- Date Input -->
<!-- include jQuery FORM Tools (or any other combination) -->
<script src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js"></script>

<!-- dateinput styling -->
<link rel="stylesheet" type="text/css" href="/static/css/dateinput.css"/>


<script>
image0 =new Image();
image1 =new Image();
//image0.src ="http://students.cse.tamu.edu/pka293/yellow_star.jpg"
image0.src ="/static/images/yellow_star.jpg"
//image1.src ="http://students.cse.tamu.edu/pka293/red_star.jpg"
image1.src ="/static/images/red_star.jpg"
function image_click(imageid)
{
var i=imageid
imgs=document.getElementsByTagName('img');
//var j=document.images(i);
//alert(imgs)
for(j in imgs)
 {
  if(imgs[j].id==i)
  {
   //alert(imgs[j].id)
   if(imgs[j].src==image1.src)
    {
	imgs[j].src=image0.src
	break;
    }
    else
    {
	imgs[j].src=image1.src
	break;
    }
  }
 }
//j.setAttribute('src', image0.src);
}
function loadData(data) {
	var events = jQuery.map(data, function(crowd,i) {
        return {
            'start': new Date(1000*crowd.start),
            'end': new Date(1000*crowd.end),
	    'users': crowd.users,
            'title': crowd._id,
            'description': 'a crowd of '+crowd.size+' people',
	    'size': crowd.size,
	    /*if (crowd.size==4)
	    {
		'star':image0.src
	    }
	    else
	    {
		'star':image1.src
	    }*/
	    'star' : crowd.star
	    'starred': image1.src
        };
        });
        var jq_tbo = $('#dyTableBody');
	var tbo=document.getElementById('dyTableBody');
	for(var i=0;i<events.length;i++){
		row=document.createElement('tr');
		for(var j=0;j<3;j++){
			cell=document.createElement('td');
			switch(j)
			{
				case 0: 
					var date1 = events[i]['start'];
					var date2 = events[i]['end'];
					cell.appendChild(document.createTextNode(date1.getFullYear()+'/'+date1.getMonth()+'/'+date1.getDate()+' '+date1.getHours()+':'+date1.getMinutes()+' To '+date2.getFullYear()+'/'+date2.getMonth()+'/'+date2.getDate()+' '+date2.getHours()+':'+date2.getMinutes())); 
					break;
				case 1: cell.appendChild(document.createTextNode(events[i]['title'])); break;
				case 2: cell.appendChild(document.createTextNode(events[i]['description'])); break;
			}
			row.appendChild(cell);
		}
		//<a href="http://www.w3schools.com">
		//<img src=events[i]['star'] id=events[i]['title'] width="32" height="32">
		cell1=document.createElement('img');
		/*if (events[i]['star']==false)
	    	{
			events[i]['starred']=image0.src;
	    	}
	    	else
	    	{
			events[i]['starred']=image1.src;
	    	}*/
		cell1.setAttribute('src', events[i]['starred']);
		cell1.setAttribute('id', events[i]['title']+"img");
		//cell1.setAttribute('href', 'http://www.google.com');
		cell1.setAttribute('onclick', image_click(events[i]['title']+"img"));
		cell1.setAttribute('height', '30px');
		cell1.setAttribute('width', '30px');
		
		row.appendChild(cell1);
		//alert(document.getElementById(events[i]['title']+"img").href)
                tbo.appendChild(row);
                //toggle the detailed view when the user clicks a row
                jq_tbo.children().last().click(
                    {cid:events[i]['title']},
                    function(e) {
                        var detail = $(this).next();
                        detail.slideToggle();
                        var td = detail.children().first();
                        if(!td.contents.length==0) {
                          jQuery.getJSON('/crowd/'+e.data.cid, function(res) {
                              td.html(res.html);
                              loadCrowdPopup(e.data.cid,td,res.users,res.tweets);
                          });
                        }
                    }
                );
		
                jq_tbo.append('<tr style="display:none"><td colspan="4"></td></tr>');
	}
}

/*
var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
        }, 500);
    }
}
*/



$(document).ready(function() {
    jQuery.getJSON('/api/1/search/crowd?limit=1000', loadData);
    jQuery.postJSON(loadData,'/api/1/search/crowd?limit=1000')
    $(window).resize(onResize());
});


function search() {
    //document.body.innerHTML = "";
	var query_title=document.getElementById('query_title');
    query_title.innerHTML = "";
    var tbo=document.getElementById('dyTableBody');
    tbo.innerHTML="";
    
    // Here is the code to generate text "Search results for BLAHBLAH"
    
    var query_title=document.getElementById('query_title');
    query_title.innerHTML = "";

    var searchBox = document.getElementById('searchBox');
    var query = "";
    query = searchBox.value;
    row = document.createElement('tr');
    cell=document.createElement('td');
    //cell.appendChild(document.createTextNode('Results for ' + query));
    cell.appendChild(document.createTextNode('(Demo Example) for '));
   
    // Emphasize the query text.
    query_text = document.createElement('strong');
    query_text.appendChild(document.createTextNode(query));
    cell.appendChild(query_text);

    row.appendChild(cell);
    query_title.appendChild(row);


    // The defaut values for all the search options.
    var api = '/api/1/search/crowd?';
    var query = "";
    var since_date = "";
    var until_date = "";
    var min_num_tweets = "0";
    var min_num_users = "0";
    var rpp = "100";

    // get query. (If query is an empty string, return everything.
    var searchBox = document.getElementById('searchBox');
    query = searchBox.value;
    if (query != "")
        api += "q=" + query;
   
    var rpp_value = document.getElementById('rpp').value;
    rpp = String(rpp_value);
    api += "&limit=" + rpp;
    var since_date_string = document.getElementById('date_pick_1').value; 
    if (since_date_string != "") {
        month = since_date_string.substring(0,2) - 1;
        day = since_date_string.substring(3,5);
        year = String(Number(since_date_string.substring(6,8)) + 2000);
        since_date = new Date(year, month, day);
        var secs = (since_date.getTime() - since_date.getMilliseconds()) / 1000 - 18000; 
        api += "&min_start=" + String(secs);
    }
    var until_date_string = document.getElementById('date_pick_2').value; 
    if (until_date_string != "") {
        month = until_date_string.substring(0,2) - 1;
        day = until_date_string.substring(3,5);
        year = String(Number(until_date_string.substring(6,8)) + 2000);
        until_date = new Date(year, month, day);
        var secs = (until_date.getTime() - until_date.getMilliseconds()) / 1000 - 18000; 
        api += "&max_end=" + String(secs);
    } 

    var num_users = document.getElementById('num_users').value;
    api += "&min_size=" + String(num_users);

    
	var tbo=document.getElementById('dyTableBody');
 
    row = document.createElement('tr');
    th = document.createElement('th');
    th.appendChild(document.createTextNode('Period'));
    row.appendChild(th);
    th = document.createElement('th');
    th.appendChild(document.createTextNode('Tweets'));
    row.appendChild(th);
    th = document.createElement('th');
    th.appendChild(document.createTextNode('Users'));
    row.appendChild(th);
    tbo.appendChild(row);




    jQuery.getJSON(api, loadData);
    //$(window).resize(onResize());

}


function showNumTweets(newValue)
{
        document.getElementById("range_num_tweets").innerHTML=newValue;
}

function showNumUsers(newValue)
{
        document.getElementById("range_num_users").innerHTML=newValue;
}



</script>

{% endblock %}

{% block content %}

    <br>
    <div id="header">
        <div id="headerContent">
        <!--
        <div id="logo"><a href="Crowdy Search"><img alt="crowdy-logo-small" src="crowdy-logo-pic" /></a></div>
        -->
            <div id="search_header">
                <div id="searchEntry">
                    <input id="searchBox" name="q" placeholder="Enter your query" type="search" value=""/>
                </div>
                <div id="searchButton">
                    <input type=BUTTON value="Search" OnClick="search()"/>
                </div>
                <div id="searchOptionsCtrl">
                    <button id="button_to_adv">Switch to Adv-Search</button>
                    <button id="button_to_basic" style="display: none">Switch to Basic-Search</button>
                </div>
    
                <script>
                    $("#button_to_adv").click(function () {
                        $("#button_to_adv").toggle();
                        $("#button_to_basic").toggle();
                        $("#adv_search").toggle();
                        //$('.date-pick').datePicker({startDate:'01/01/1996'});  
                        $(":date").dateinput();
                    });
                    $("#button_to_basic").click(function () {
                        $("#button_to_adv").toggle();
                        $("#button_to_basic").toggle();
                        $("#adv_search").toggle();
                        //$('.date-pick').datePicker({startDate:'01/01/1996'});
                    });
                </script>
                <p class="clearer"></p>
            </div>
        </div>
        </div>
    <br>

    <div id="adv_search" style="display: none">
        <div id="title">
            <h1 align=center>Advanced Search</h1>
        </div>
        <table id="advForm" cellspacing="0" align=center>
            <tr><td colspan="3" class="sep"></td></tr>
            <tr><th>Dates </th></tr>
            <tr><th></th><td class="l t">Since this date</td><td class="r t"><input id="date_pick_1" name="date_pick_1" type="date"/></td><tr>
            <tr><th></th><td class="l b">Until this date</td><td class="r b"><input id="date_pick_2" name="date_pick_2" type="date"/></td><tr>
            <tr><td colspan="3" class="sep"></td></tr>
            <tr><th>Size </th></tr>
            <tr><th></th><td class="l b">Min # of users in the crowd</td><td class="r b"><input type="range" min="1" max="100" value="5" name="num_users" id="num_users" onchange="showNumUsers(this.value)"/><span     id = "range_num_users"> 5</span></td><tr>
            <tr><td colspan="3" class="sep"></td></tr>
            <tr><th>Other </th><tr>
            <tr><th></th><td class="l b">Results per page</td><td class="r t"><select id="rpp" name="rpp"><option value="10" >10</option><option value="20" >20</option><option value="30" >30</option><option     value="50" >50</option><option value="75" >75</option><option value="100" selected="selected">100</option></select> <span class="note">(persistent)</span></td></tr>
            <tr><td colspan="3" class="sep"></td></tr>
        </table>
        <!-- make it happen -->
        <script>
            $(":date").dateinput();
        </script>
        <br><br>
    </div>

    <div id="mytable">

        <table class="mytable">
            <div id="query_title">
            </div>
            <div id="query_content">
            </div>
            <tbody id="dyTableBody">
                <tr><th>Period</th><th>Tweets</th><th>Users</th><th>Star</th></tr>
            </tbody>
        </table>
    </div>
{% endblock %}

