{% extends 'base.html' %}

{% block head_extra %}

<script src="/static/scripts/arbor.js"></script>  
<script src="/static/scripts/crowd_network.js"></script>  

<script>
function loadData(data) {
	var events = jQuery.map(data, function(crowd,i) {
        return {
            'start': new Date(1000*crowd.start),
            'end': new Date(1000*crowd.end),
	    'users': crowd.users,
            'title': crowd._id,
            'description': 'a crowd of '+crowd.size+' people'
        };
        });
        var jq_tbo = $('#dyTableBody');
	var tbo=document.getElementById('dyTableBody');
	for(var i=0;i<events.length;i++){
		row=document.createElement('tr');
		for(var j=0;j<3;j++){
			cell=document.createElement('td');
			switch(j)
			{
				case 0: 
					var date1 = events[i]['start'];
					var date2 = events[i]['end'];
					cell.appendChild(document.createTextNode(date1.getFullYear()+'/'+date1.getMonth()+'/'+date1.getDate()+' '+date1.getHours()+':'+date1.getMinutes()+' To '+date2.getFullYear()+'/'+date2.getMonth()+'/'+date2.getDate()+' '+date2.getHours()+':'+date2.getMinutes())); 
					break;
				case 1: cell.appendChild(document.createTextNode(events[i]['title'])); break;
				case 2: cell.appendChild(document.createTextNode(events[i]['description'])); break;
			}
			row.appendChild(cell);
		}
                tbo.appendChild(row);
                //toggle the detailed view when the user clicks a row
                jq_tbo.children().last().click(
                    function(e) {
                        var detail = $(this).next();
                        detail.slideToggle();
                        var td = detail.children().first();
                        if(!td.contents.length==0) {
                          td.load('/crowd/'+e.data.cid,function() {
                              loadCrowdPopup(e.data.cid, detail);
                          });
                        }
                    }
                );
                jq_tbo.append(
                    '<tr style="display:none"><td colspan="3"><a href="/crowd/'+
                    events[i]['title']+'">crowd</a></td></tr>');
	}
}


$(document).ready(function() {
    jQuery.getJSON('/api/1/search/crowd?limit=1000', loadData);
    $(window).resize(onResize());
});
</script>

{% endblock %}

{% block content %}
<table class="mytable">
    <tbody id="dyTableBody">
        <tr><th>Period</th><th>Tweets</th><th>Users</th></tr>
    </tbody>
</table>
{% endblock %}

