{% extends 'base.html' %}

{% block head_extra %}

<script src="/static/scripts/arbor.js"></script>  
<script src="/static/scripts/crowd_network.js"></script>  

<script>
function loadData(data) {
	var events = jQuery.map(data, function(crowd,i) {
        return {
            'start': new Date(1000*crowd.start),
            'end': new Date(1000*crowd.end),
	    'users': crowd.users,
            'title': crowd._id,
            'description': 'a crowd of '+crowd.size+' people'
        };
        });
        var jq_tbo = $('#dyTableBody');
	var tbo=document.getElementById('dyTableBody');
	for(var i=0;i<events.length;i++){
		row=document.createElement('tr');
		for(var j=0;j<3;j++){
			cell=document.createElement('td');
			switch(j)
			{
				case 0: 
					var date1 = events[i]['start'];
					var date2 = events[i]['end'];
					cell.appendChild(document.createTextNode(date1.getFullYear()+'/'+date1.getMonth()+'/'+date1.getDate()+' '+date1.getHours()+':'+date1.getMinutes()+' To '+date2.getFullYear()+'/'+date2.getMonth()+'/'+date2.getDate()+' '+date2.getHours()+':'+date2.getMinutes())); 
					break;
				case 1: cell.appendChild(document.createTextNode(events[i]['title'])); break;
				case 2: cell.appendChild(document.createTextNode(events[i]['description'])); break;
			}
			row.appendChild(cell);
		}
                tbo.appendChild(row);
                jq_tbo.children().last().click(
                    {cid:events[i]['title']},
                    function(e) {
                        var detail = $(this).next();
                        detail.slideToggle();
                        var td = detail.children().first();
                        if(!td.contents.length==0) {
                          td.load('/crowd/'+e.data.cid,function() {
                            loadCrowd(e.data.cid,detail.find('canvas').first());
                          });
                        }
                    }
                );
                jq_tbo.append('<tr style="display:none"><td colspan="3"></td></tr>');
	}
}

function loadCrowd(cid,canvas) {
  jQuery.getJSON('/api/1/crowd/users/'+cid, function(users) {
    jQuery.getJSON('/api/1/crowd/tweets/'+cid, function(tweets) {
      var nodes = {}
      $.each(users, function(i,user) {
          nodes[user._id] = user;
      });
      var edges = {};
      // make edges into a weighted undirected graph
      $.each(tweets, function(i,tweet) {
        if('ats' in tweet) {
          $.each(tweet.ats, function(j,at) {
            if(at in nodes && tweet.uid in nodes) {
              from = Math.min(tweet.uid,at);
              to = Math.max(tweet.uid,at);
              if(!(from in edges))
                edges[from] = {}
              if(to in edges[from])
                edges[from][to].weight+=1;
              else
                edges[from][to] = {weight:1};
            }
          });
        }
      });
      //start the force directed layout
      var sys = arbor.ParticleSystem(4000, 500, 0.5, 55)
      sys.renderer = Renderer(canvas)
      sys.merge({nodes:nodes, edges:edges})
      sys.parameters({stiffness:600})
    });
  });
}


$(document).ready(function() {
  jQuery.getJSON('/api/1/search/crowd', loadData);
  $(window).resize(onResize());
});
</script>

{% endblock %}

{% block content %}
<table class="mytable">
    <tbody id="dyTableBody">
        <tr><th>Period</th><th>Tweets</th><th>Users</th></tr>
    </tbody>
</table>
{% endblock %}

