<link rel="stylesheet" href="css/mystyle.css" type="text/css" />

<table class="center">
	<tr><td>
		<form id="form">
			<h2>User Login</h2><br />
			<p>
				<label>Name</label><br />
				<input id="" type="text" /><br />
			</p>
			<p>
				<label>Password</label><br />
				<input id="" type="text" /> <br />
			</p>
			<p>
				<a href="" class="lbAction" rel="insert"><button>Submit</button></a> 
				<a href="#" class="lbAction" rel="deactivate"><button>Cancel</button></a>
			</p>
	</td></tr>
</table>
	<br/><br/>
<table>
	<tr><td>
		<form id="form">
		<h3>forget password?</h3>
		<p>
			<label>Email:</label><br />
			<input id="" type="text" /> <br />
			<a href="" class="lbAction" rel="insert"><button>Remind Me</button></a>
		</p>
		</form>
</td></tr></table>
