<link rel="stylesheet" href="css/mystyle.css" type="text/css" />

<table class="center">
	<tr><td>
		<form id="form">
			<h2>Create an Account with Crowdy</h2><br />
			<p>
				<label>Name</label><br />
				<input id="" type="text" /><br />
			</p>
			<p>
				<label>Password</label><br />
				<input id="" type="text" /> <br />
			</p>
			<p>
                                <label>Template</label><br />
				<input type="radio" name="sex" value="male" /> Analyst<br />
				<input type="radio" name="sex" value="female" /> Twitter User <br />
				<input type="radio" name="sex" value="female" /> Others <br />
                        </p>
			<p>
				<a href="" class="lbAction" rel="insert"><button>Submit</button></a> 
				<a href="#" class="lbAction" rel="deactivate"><button>Cancel</button></a>
			</p>
	</td></tr>
</table>
